@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/***********
 * Sidebar *
 ***********/

 .loginSidebarBody {
     height: 99%; /* prevents scroll bar appearing until needed */
     width: 99%;
     background-color: #3C3B3B; /* darker than Balu grey */
     background-image: url("../images/extension_background_image_20.png"); /* 20% opacity */
     background-repeat: repeat-y;
   }
   .logInSideBarText {
       font-family: Noto Sans;
       color: #6bd3c2;
       font-weight: bolder;
       font-size: 1.2rem;
       /*color: #35b19c;*/  /* Darker than Balu Green */
   }

 .sidebarBody {
   height: 99%; /* prevents scroll bar appearing until needed */
   width: 99%;
   background-color: #706f6f; /* Balu grey */
   background-image: url("../images/extension_background_image_20.png"); /* 20% opacity */
   background-repeat: repeat-y;
 }

.sidebar_topRow {
    margin-top: 2px;
}

.sidebarLogoHeader {
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 45px;
    color: #6bd3c2;  /* Balu Green */
}

.settingsCogIcon {
    float:    right;
    right:    12;
    position: absolute;
    top:      15px;
    color:    #3C3B3B; /* darker than Balu Grey */
    /* border-radius: 50%; */
    /* border-color: black; */
    /* border: aquamarine; */
    font-size: 20;
}

.sidebar_searchBarRow {
    margin-top: 5px;
}

.altProductProductName {
    color: #3C3B3B; /* darker than Balu Grey */
}

.findOutMoreButton, .findOutMoreButton:hover {
     color: #6bd3c2; /* Balu green */
     font-family: Noto Sans;
     text-transform: uppercase;
     font-weight: bolder;
     font-size: 11px;
}

 .testFeedbackContainer {
     position: fixed;
     bottom: 0px;
 }

.testFeedbackText {
    font-size: 9px;
}


.brandSpielToolTips {width: 250px}

.custom .joyride-nub {
    visibility: hidden;
}

.manualSearchDiv {
    position: relative;
    margin-bottom: 5px;
}

.manualSearchField {
    text-indent: 10px;
    padding-right: 30px;
    background-color: #3C3B3B; /* darker than Balu Grey */
    color: #6bd3c2;  /* Balu Green */
    width: 270px;
    height: 32px;
    border-style: none;
}

.loginManualSearchField {
    text-indent: 10px;
    padding-right: 30px;
    background-color: #3C3B3B; /* darker than Balu Grey */
    color: #6bd3c2;  /* Balu Green */
    width: 270px;
    height: 32px;
    border-style: solid;
    border-colour: #6bd3c2; /* balu green */
}

.manualSearchIcon {
    position: absolute;
    font-size: 18px;
    top: 7px;
    right: 20px;
    color: #6bd3c2; /* Balu Green. Or try white? */
    transform: scaleX(-1);
}

.signInToBalu {
    color: #6bd3c2; /* Balu Green */
}

.loginFieldLabels {
    color: #6bd3c2; /* Balu Green */
}

.signInScreenButtons:hover {
    background-color: #6bd3c2;
    color: #3C3B3B;/* Darker than Balu Grey */
}
.signInScreenButtons {
    border-radius: 3px;
    background-color: #6bd3c2; /* Balu Green */
    color: #3C3B3B;/* Darker than Balu Grey */
    left: 10px;
}

.authError {
    color: red;
    font-style:italic;

}

/*********
 * Popup *
 *********/

.popupBody {
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 18px;
    min-width: 300px;
    overflow: hidden;
    font-family: Noto Sans;
    font-size: 11px;
    background-image: url("../images/extension_background_image_20.png"); /* 20% opacity */
    background-repeat: repeat-y;
}


.popup_topRow {
    margin-top: 2px;
}

.popup_LogoHeader {
    font-family: Noto Sans;
    font-weight: bold;
    font-size: 45px;
    color: #6bd3c2;  /* Balu Green */
}

.popup_settingsCogIcon {
    color: #a6a6a6;
    font-size: 20;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.popup_addUserRecIcon {
    color: #a6a6a6;
    font-size: 20;
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.popup_manualSearchDiv {
    position: relative;
    margin-bottom: 25px;
}


.manualSearchField_popup {
    text-indent: 10px;
    padding-right: 30px;
    background-color: #3C3B3B; /* darker than Balu Grey */
    color: #6bd3c2;  /* Balu Green */
    height: 32px;
    border-style: none;
    width: 200px;
}

.manualSearchIcon_popup {
    position: absolute;
    font-size: 18px;
    top: 3px;
    right: 58px;
    color: #6bd3c2; /* Balu Green */
    transform: scaleX(-1);
}

.sideBarFreeText{
    color: #3C3B3B; /* darker than Balu Grey */
    font-family: Noto sans;
    background-color: white;
    padding: 10px;
}
.sideBarFreeText > a {
    color: #3C3B3B; /* darker than Balu Grey */

}

/*****************
 * Uncategorised *
 *****************/

.header {
    margin-left: 2px;
}

.optionsBody {
    background-color: #706f6f; /* darker than Balu grey */
    background-image: url("../images/extension_background_image_20.png"); /* 20% opacity */
}



.userSubmittedRecBody {
  margin-left: 20px;
  margin-right: 20px;
}
.userBlockBrandBody {
  margin-left: 20px;
  margin-right: 20px;
}
.userSubmittedWebsiteRec{
  margin-left: 20px;
  margin-right: 20px;
}

.brandSpielHidden {
    visibility: hidden;
}


.column,
.columns {
  padding-left: 0.1rem;
  padding-right: 0.1rem;}

.button {
    padding-right: 1rem;
    padding-left: 1rem;
}


.footer{
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 20px; /*63px;*/
  margin-top: 5px;
  background-color: white;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #3C3B3B; /* darker than Balu Grey */
  background-color: #706f6f; /* Balu Grey */
}

.bottomNavDiv{
    height: 40px;
    margin-bottom: 2px;
}


.footerDivs{
    height: 20px;
    padding-right: 10px;
}

.footerText {
    color: white;
    font-size: 10px;
    color: #6bd3c2; /* Balu Green */
}

.footerText > a {
    color: #6bd3c2; /* Balu Green */
}

.contentDiv {
    padding-bottom: 68px;
    margin: 0 auto;
}

.origProductBlock {
    padding: 0px 10px;

}

.hrClass {
    padding: 0px 0px;
    margin: 10px 0px;
}

.origProductHeaderStrip{

}

.origProductHeaderStripWhyCare{
    font-size: 11px;
    color: #A0522D;
    position: relative;
}

.origProductHeaderStripText{
    font-size: 11px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: Noto Sans;
    color: #6bd3c2;  /* Balu Green */
    position: relative;
}

.altProductsBlock {
    padding: 0px 10px;
}

.altProductBlock {
    padding: 5px 5px;
    position: relative;
    background-color: white;
    margin-bottom: 15px;
    margin-top: 7px;
    cursor: pointer;
}

.altProductBlock:hover {
    box-shadow: -4px -4px 3px 2px #3C3B3B;
}

.altProductBrandName {
    color: #3C3B3B; /* darker than Balu Grey */
    font-weight: bolder;
    font-family: Noto Sans;
}

.altProductLink {
    color: #D2691E;
}

.altImage {
    width: auto;
    height: 100px;
}


.altText {
    vertical-align: top;
    font-size: 13px;
    display: inline-block;
    padding-left: 5px;

}

.altText-top {
    padding-right: 15px;
}

.altText-bottom {
    position: absolute;
    bottom: 0px;
    left: 120px;
    width: 143px;
    color: #6bd3c2;
    /*border-color: #6bd3c2;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    background-color: white;
    */
    height: 30px;
    line-height: 30px;

}


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.searchingIcon{
    height: 40px;
    width: 40px;
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         10s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
}

.banner_container {
    margin-left: 8px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.banner {
    border-style: solid;
    border-width: 1px;
    border-color: red;
    text-align: center;
}

.banner_link {
    color: #6bd3c2;
    font-weight: bold;
}
.banner_link:hover {
    color: #6bd3c2;
}
.banner_link:visited {
    color: #6bd3c2;
}
.morePlus {
    font-size: 10px;
    color: #D2691E;
}

.sidebarFeedbackRow {
  bottom: 20px;
  position: fixed;
  width: 100%;
  height: 40px; /*63px;*/
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 15px;
  background-color: #706f6f;
}

.popupFeedbackRow {
  bottom: 25px;
  position: fixed;
  width: 100%;
  height: 40px; /*63px;*/
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.popupFeedbackRow_title {
    bottom: 70px;
    position: fixed;
    width: 100%;
    height: 10px; /*63px;*/
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    font-weight: bold;
}

.popupFeedbackRow_captions {
    bottom: 20px;
    position: fixed;
    width: 100%;
    height: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 9px;
    font-style: italic;
}

.sidebarFeedbackColumn {
    text-align: center;
}

.feedbackLink {
    font-size: 10px;
    color: darkblue;
    display: none;
}

.feedbackTooltipHidden {
    visibility: hidden;
}

.feedbackToolTips {
    width: 120px
}

/**************************************************************************
 * This next section is taken from Zurb, for the tabs on the options page * http://zurb.com/building-blocks/dashboard-control-tabs
 **************************************************************************/

 /* override foundation tabs style */
.custom.tabs > .tabs-title > a:focus, .custom.tabs > .tabs-title > a[aria-selected='true'], .custom.tabs > .tabs-title > a[aria-selected='false'] {
     background-color: #ffffff;
     font-family: Noto Sans;
     outline: none;
     font-size: 1.5rem;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
     padding-bottom: 1rem;
     padding-top: 1rem;
     color: #35b19c;
 }
 li.custom.tabs-title {
     width: 50%;
     text-align: center;
 }

 .custom.tabs-content {
     background-color: #f2f2f2;
     background-image: url("../images/extension_background_image_20.png"); /* 20% opacit */
 }

.tabs-content > h3 {
    color: #35b19c;
}
/* These are from the log-in-form example, http://www.codeply.com/go/1eK1ltMYAx */
.tabs {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
}
.tabs > li {
    float: none;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
}
.tabs > li > a {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
}

/* */
.number-images {
    width: 100px;
    height: 85px;
    fill: #6bd3c2
}

.website-tag {
    background-color: #6bd3c2;  /* Balu Green */
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 400;
    line-height: 2.3;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
