/********
 * Body *
 ********/
.brandSpielToolTips {width: 250px}
.custom .joyride-nub {
    visibility: hidden;
}
.iframeBody {
  height: 99%; /* prevents scroll bar appearing until needed */
}

.popupBody {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}
.header {
    margin-left: 2px;
}

.optionsBody {
  min-width: 300px;
  position: relative;
  vertical-align: middle;
  padding-left: 10px;
}

.popupBody {
  min-width: 300px;
  height: 200px;
  position: relative;
  vertical-align: middle;
}

.userSubmittedRecBody {
  margin-left: 20px;
  margin-right: 20px;
}
.userBlockBrandBody {
  margin-left: 20px;
  margin-right: 20px;
}
.userSubmittedWebsiteRec{
  margin-left: 20px;
  margin-right: 20px;
}

.brandSpielHidden {
    visibility: hidden;
}
/* .... */

.column,
.columns {
  padding-left: 0.1rem;
  padding-right: 0.1rem;}

.button {
    padding-right: 1rem;
    padding-left: 1rem;
}


.footer{
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 20px; /*63px;*/
  margin-top: 5px;
  background-color: white;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #808080;
}

.bottomNavDiv{
    background-color: #DCDCDC;
    height: 40px;
    margin-bottom: 2px;
}


.footerDivs{
    height: 20px;
    padding-right: 10px;
}

.footerText {
    background-color: white;
    font-size: 10px;
}

.contentDiv {
    padding-bottom: 68px;
    margin: 0 auto;
}

.origProductBlock {
    padding: 0px 10px;

}

.hrClass {
    padding: 0px 0px;
    margin: 10px 0px;
}

.origProductHeaderStrip{

}

.origProductHeaderStripWhyCare{
    font-size: 11px;
    color: #A0522D;
    position: relative;
}

.origProductHeaderStripText{
    padding-left: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #A0522D;
    position: relative;
}

.whyDoWeCare { /* the one that appears in the header */
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 11px;
}

.whyDoWeCare_link {
    color: white;
    font-weight: lighter;
}

.whyDoWeCare_recBody {  /* the one that appears in the rec body */
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 11px;
}

.altProductsBlock {
    padding: 0px 10px;
}

.altProductBlock {
    padding: 5px 0px;
    position: relative;
}

.altProductLink {
    color: #D2691E;
}

.altImage {
    width: auto;
    height: 100px;
}


.altText {
    vertical-align: top;
    font-size: 13px;
    display: inline-block;
    padding-left: 5px;

}

.altText-top {
    padding-left: 5px;
}

.altText-bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    font-size: 12px;
    color: orange;
}


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.searchingIcon{
    height: 40px;
    width: 40px;
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         10s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
}
